<?xml version="1.0"?>

<appSettings>
  <add key="SiteUrl" value="http://localhost:5412/" />
  <add key="ApiRootUrl" value ="https://hse.dev.com/"/>
  <add key="HSETaskApi" value ="https://hse.dev.com/"/>
  <add key="FSMTaskApi" value ="http://fsmdev.petronas.com/"/>
  <add key="MOCTaskApi" value ="http://10.14.73.46:10036/"/>
  <add key="ListDomain" value ="PETRONAS;KLCC;"/>
  <add key="AdUser" value ="jeswinkaur"/>
  <add key="AdUser2" value ="ariff.mdiah"/>

  <add key="ldap-username" value="petronas\sdpi.read" />
  <add key="ldap-password" value="Rendah@1" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SiteMapFilePath" value="SiteMap.xml" />
  <add key="SSOService" value="http://10.14.68.12:8090/api" />
  <add key="SSOApplicationId" value="FEF5F940-977D-4E16-A5B7-FA1206491475" />
  <!--<add key="SSOApplicationId" value="FEF5F940-977D-4E16-A5B7-FA1206491475" />
  <add key="SSOService" value="https://sso.petronas.com/api" />-->
  <add key="IsByPassAuthen" value="false" />
  <!--<add key="ICT2UAddress" value="http://ict2u-t.petronas.com/" />-->
  <add key="IsForceRedirectToHttps" value="false" />
  <add key="HiQPDFKey" value="35e2jo+7-uZO2va2+-rabn8e//-7v/t/+fq-5//s7vHu-7fHm5ubm" />
  <add key="TemporaryMonth" value="12" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="15000000" />
  <add key="vs:EnableBrowserLink" value="false"></add>
</appSettings>