<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="ICT2UContext" connectionString="Data Source=10.14.74.181;Initial catalog=PetIct.Soms_20170731_NamSPV;user id=dev;password=dev@@2009;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="JobHuntContext" connectionString="Data Source=.; Initial catalog=JobHunt; user id=sa; password=helloBoo22; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  <add name="PETRONAS_Connection" connectionString="LDAP://PETRONAS.PETRONET.DIR/DC=PETRONAS,DC=PETRONET,DC=DIR" />
  <add name="KLCC_Connection" connectionString="LDAP://KLCC.PETRONET.DIR/DC=KLCC,DC=PETRONET,DC=DIR" />
</connectionStrings>