<?xml version="1.0"?>

<appSettings>
  <add key="SiteUrl" value="https://google.com/" />
  <add key="ldap-username" value="petronas\sdpi.read" />
  <add key="ldap-password" value="Rendah@1" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SiteMapFilePath" value="SiteMap.xml" />
  <add key="SSOService" value="http://10.14.68.12:8090/api" />
  <add key="SSOApplicationId" value="FEF5F940-977D-4E16-A5B7-FA1206491475" />
  <!--<add key="SSOService" value="https://sso.petronas.com/api" />
    <add key="SSOApplicationId" value="6155BD0F-36AD-4B2E-A949-E0756D67FF9E" />-->
  <add key="IsByPassAuthen" value="true" />
  <add key="ICT2UAddress" value="http://ict2u-t.petronas.com/" />
  <add key="TemporaryMonth" value="12" />
</appSettings>