<div class="widget">
    <div class="tree_widget-sec">

        <ul>
            <li class="inner-child">
                <a href="@Url.Action("ManageProfile", "Employer")" title=""><i class="la la-file-text"></i>Company Profile</a>
            </li>
            <li class="inner-child">
                <a href="@Url.Action("ManageJob")" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
            </li>

            <li class="inner-child">
                <a href="@Url.Action("ManageResume")" title=""><i class="la la-paper-plane"></i>Resumes</a>
            </li>
            <li class="inner-child">
                <a href="@Url.Action("PostNewJob")" title=""><i class="la la-file-text"></i>Post a New Job</a>
            </li>
            <li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
        </ul>
    </div>
</div>